# Copyright 2017-2019 VMware, Inc.
# SPDX-License-Identifier: BSD-2-Clause
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgresql-config
  labels:
    app: auction
    tier: data
    type: dbServer
    impl: postgresql
data: 
  POSTGRES_USER: "auction"
  POSTGRES_PASSWORD: "auction"
  POSTGRESPORT: "5432"
  POSTGRESTOTALMEM: "16"
  POSTGRESTOTALMEMUNIT: "G"
  POSTGRESSHAREDBUFFERS: "0"
  POSTGRESSHAREDBUFFERSPCT: "0.25"
  POSTGRESEFFECTIVECACHESIZE: "0"
  POSTGRESEFFECTIVECACHESIZEPCT: "0.65"
  POSTGRESMAXCONNECTIONS: "2000"
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgresql
  labels:
    app: auction
    tier: data
    type: dbServer
    impl: postgresql
spec:
  serviceName: postgresql
  selector:
    matchLabels:
      app: auction
      tier: data
      type: dbServer
      impl: postgresql
  replicas: 1
  template:
    metadata:
      name: postgresql
      labels:
        app: auction
        tier: data
        type: dbServer
        impl: postgresql
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: wvrole
                operator: NotIn
                values:
                - driver
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            preference:
              matchExpressions:
              - key: wvrole
                operator: In
                values:
                - sut
      containers:
      - image: repository/weathervane-postgresql:1.2.0
        name: postgresql
        imagePullPolicy: IfNotPresent
        envFrom:
        - configMapRef:
            name: postgresql-config
        volumeMounts:
        - name: postgresql
          mountPath: /mnt
        ports: 
        - containerPort: 5432
          name: postgresqlport
          protocol: TCP
        resources:
          requests:
            cpu: 1
            memory: 8Gi
        livenessProbe:
          exec:
            command:
            - /bin/sh
            - -i
            - -c
            - /usr/pgsql-9.3/bin/pg_isready -h 127.0.0.1 -p 5432
          failureThreshold: 3
          initialDelaySeconds: 30
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 1
        readinessProbe:
          exec:
            command:
            - /bin/sh
            - -i
            - -c
            - 'cat /tmp/isReady && /usr/pgsql-9.3/bin/pg_isready -h 127.0.0.1 -p 5432'
          failureThreshold: 3
          initialDelaySeconds: 30
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 1        
  volumeClaimTemplates:
  - metadata:
      name: postgresql
    spec:
      resources: 
        requests:
          storage: 20Gi
      accessModes:
      - ReadWriteOnce
      storageClassName: fast
---
apiVersion: v1
kind: Service
metadata:
  name: postgresql
  labels:
    app: auction
    tier: data
    type: dbServer
    impl: postgresql
spec:
  clusterIP: None
  ports:
  - port: 5432
    name: postgresqlport
  selector:
    app: auction
    tier: data
    type: dbServer
    impl: postgresql