apiVersion: v1
kind: ConfigMap
metadata:
  name: rabbitmq-config
  labels:
    app: auction
    tier: backend
    type: msgServer
    impl: rabbitmq
data: 
  RABBITMQ_NODE_PORT: "5672"
  RABBITMQ_DIST_PORT: "25672"
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: rabbitmq
spec:
  replicas: 1
  template:
    metadata:
      name: rabbitmq
      labels:
        app: auction
        tier: backend
        type: msgServer
        impl: rabbitmq
    spec:
      containers:
      - image: hrosenbe/weathervane-rabbitmq:1.1.0
        name: rabbitmq
        imagePullPolicy: IfNotPresent
        envFrom:
        - configMapRef:
            name: rabbitmq-config
        ports: 
        - containerPort: 5672
          name: nodeport
          protocol: TCP
        - containerPort: 25672
          name: peerport
          protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: rabbitmq
spec:
  type: NodePort
  ports:
  - port: 5672
    name: nodeport
  - port: 25672
    name: peerport
  selector:
    app: auction
    tier: backend
    type: msgServer
    impl: rabbitmq