
<!--
Copyright 2017-2019 VMware, Inc.
SPDX-License-Identifier: BSD-2-Clause
-->
<configuration debug="false">

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator" />

	<appender name="LOGFILE" class="ch.qos.logback.core.FileAppender">
		<file>${catalina.base}/logs/auction.log</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="com.vmware" level="WARN" />
	<logger name="org.springframework" level="WARN" />

	<root level="WARN">
		<appender-ref ref="LOGFILE" />
	</root>

</configuration>

