<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2017 VMware, Inc. All Rights Reserved.

Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES,
INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF
THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	id="WebApp_ID" version="3.0">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring/root-context.xml
			/WEB-INF/spring/datasource-context.xml
			/WEB-INF/spring/jpa-context.xml
			/WEB-INF/spring/mongo-context.xml
			/WEB-INF/spring/auction-security-context.xml
			/WEB-INF/spring/auction-rabbitmq-context.xml
		</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
				
	<!-- Filter to inject Spring Security -->	
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<async-supported>true</async-supported>
	</filter>
	
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>auction</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/auctionServlet/servlet-context.xml</param-value>
		</init-param>
		<init-param>
			<param-name>dispatchOptionsRequest</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<multipart-config>
		</multipart-config>
		<async-supported>true</async-supported>
	</servlet>

     <servlet>
          <servlet-name>SimonConsoleServlet</servlet-name>
           <servlet-class>org.javasimon.console.SimonConsoleServlet</servlet-class>
           <init-param>
                  <param-name>url-prefix</param-name>
                   <param-value>/javasimon</param-value>
        </init-param>
		<async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
            <servlet-name>SimonConsoleServlet</servlet-name>
            <url-pattern>/javasimon/*</url-pattern>
    </servlet-mapping>

	<servlet-mapping>
		<servlet-name>auction</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<session-config>
	    <session-timeout>30</session-timeout> 
	</session-config>

	<resource-env-ref>
 	 <description>
    	JNDI Datasource
  	</description>
  	<resource-env-ref-name>
    	jdbc/auction
  	</resource-env-ref-name>
  	<resource-env-ref-type>
    	javax.sql.DataSource
  	</resource-env-ref-type>
	</resource-env-ref>

</web-app>
