<?xml version='1.0' encoding='utf-8'?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!-- Note:  A "Server" is not itself a "Container", so you may not
     define subcomponents such as "Valves" at this level.
     Documentation at /docs/config/server.html
 -->
<Server port="8005" shutdown="SHUTDOWN">
  <!-- Security listener. Documentation at /docs/config/listeners.html
  <Listener className="org.apache.catalina.security.SecurityListener" />
  -->
  <!--APR library loader. Documentation at /docs/apr.html -->
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <!-- Prevent memory leaks due to use of particular java/javax APIs-->
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <!-- Global JNDI resources
       Documentation at /docs/jndi-resources-howto.html
  -->
  <GlobalNamingResources>
    <!-- Editable user database that can also be used by
         UserDatabaseRealm to authenticate users
      -->
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
    <Resource name="jdbc/auction"
	      auth="Container"
	      type="javax.sql.DataSource"
	      factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"
	      testWhileIdle="false"
	      testOnBorrow="false"
	      testOnReturn="false"
	      validationQuery="SELECT 1"
	      validationInterval="30000"
	      timeBetweenEvictionRunsMillis="30000"
	      maxActive="101"
	      maxIdle="51"
	      minIdle="10"
	      maxWait="6000"
	      initialSize="51"
	      removeAbandonedTimeout="60"
	      removeAbandoned="true"
	      logAbandoned="true"
	      minEvictableIdleTimeMillis="30000"
	      jmxEnabled="true"
	      username="auction"
	      password="auction"
	      driverClassName="org.postgresql.Driver"
	      url="jdbc:postgresql://AuctionDB1:5432/auction"/>
  </GlobalNamingResources>
  
  <!-- A "Service" is a collection of one or more "Connectors" that share
       a single "Container" Note:  A "Service" is not itself a "Container",
       so you may not define subcomponents such as "Valves" at this level.
       Documentation at /docs/config/service.html
   -->
  <Service name="Catalina">
<Executor maxThreads="100"
                  minSpareThreads="34"
                name="tomcatThreadPool"
                namePrefix="tomcat-http--"/>
   <Connector
acceptCount="100"
acceptorThreadCount="2"
connectionTimeout="60000"
asyncTimeout="60000"
disableUploadTimeout="false"
connectionUploadTimeout="240000"
socketBuffer="65536"
executor="tomcatThreadPool"
maxKeepAliveRequests="-1"
keepAliveTimeout="-1"
maxConnections="3000"
protocol="org.apache.coyote.http11.Http11NioProtocol"
port="8080"
redirectPort="8443"/>

    <!-- You should set jvmRoute to support load-balancing via AJP ie :-->
    <Engine name="Catalina" defaultHost="localhost" jvmRoute="AuctionApp1">
    <!--
    <Engine name="Catalina" defaultHost="localhost">
    -->

      <!--For clustering, please take a look at documentation at:
          /docs/cluster-howto.html  (simple how to)
          /docs/config/cluster.html (reference documentation) -->
      <!--
      <Cluster className="org.apache.catalina.ha.tcp.SimpleTcpCluster"/>
      -->

      <!-- Use the LockOutRealm to prevent attempts to guess user passwords
           via a brute-force attack -->
      <Realm className="org.apache.catalina.realm.LockOutRealm">
        <!-- This Realm uses the UserDatabase configured in the global JNDI
             resources under the key "UserDatabase".  Any edits
             that are performed against this UserDatabase are immediately
             available for use by the Realm.  -->
        <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
               resourceName="UserDatabase"/>
      </Realm>

      <Host name="localhost"  appBase="webapps"
            unpackWARs="true" autoDeploy="false">

		<Context path="/auction" docBase="auction" debug="0" reloadable="true"></Context>
		<Context path="" docBase="auctionWeb" debug="0" reloadable="true"></Context>
        <!-- SingleSignOn valve, share authentication between web applications
             Documentation at: /docs/config/valve.html -->
        <!--
        <Valve className="org.apache.catalina.authenticator.SingleSignOn" />
        -->

        <!-- Access log processes all example.
             Documentation at: /docs/config/valve.html
             Note: The pattern used is equivalent to using pattern="common" -->
<!--        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
               prefix="localhost_access_log" suffix=".txt"
               pattern="%h %l %u %t &quot;%r&quot; %s %b" />
-->
      </Host>
    </Engine>
  </Service>
</Server>
